<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="top_header">
            <div class="logo">
                <img src="./images/logo-mercado-liebre.svg" alt="logo de Mercado Liebre" />
            </div>
            <div class="search-bar">
                <input id="search" type="search" placeholder="Buscar productos, marcas" />
                <i class="fa-solid fa-magnifying-glass fa-xs"></i>
            </div>
            <div class="speech">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p class="header-text">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <div class="bottom_header">
            <ul class="nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="login-bar">
                <div class="login-item">
                    <li>
                        <a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
                    </li>
                </div>
                <div class="login-item">
                    <li>
                        <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                    </li>
                </div>
                <div class="login-item">
                    <li>
                        <a href="/home">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a>
                    </li>
                </div>
            </ul>
        </div>
        <button class="burguer-menu">
            <i class="fa-sharp fa-solid fa-bars fa-2xl"></i>
        </button>
    </header>
    <main>
        <form class="form" action="/register" method="post">
            <div class="page-subtitles">
                <h3>Datos del usuario</h3>
            </div>
            <div class="user-info">
                <label for="name">Nombre y apellido</label>
                <input type="text" name="name" id="name" placeholder="Nombre y apellido" required error
                    oninvalid="this.setCustomValidity('Escribe tu nombre')">
                <label for="user">Nombre de usuario</label>
                <input type="text" name="name" id="user" placeholder="Nombre de usuario" required error
                    oninvalid="this.setCustomValidity('Escribe un nombre de usuario')">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="E-mail" required error
                    oninvalid="this.setCustomValidity('Escribe un email válido')">
                <label for="date">Fecha de nacimiento</label>
                <input type="text" name="date" id="date" placeholder="MM/DD/YYYY" onfocus="(this.type='date')" required
                    error oninvalid="this.setCustomValidity('Escribe tu fecha de nacimiento')">
                <label for="address">Dirección</label>
                <input type="text" name="address" id="address" placeholder="Dirección" required error
                    oninvalid="this.setCustomValidity('Escribe tu dirección')">
            </div>
            <div class="page-subtitles">
                <h3>Perfil del usuario</h3>
            </div>
            <div class="user-type">
                <div class="options">
                    <input type="radio" name="buyer" id="Comprador" value="Comprador" required
                        oninvalid="this.setCustomValidity('Escoge un tipo de usuario')">
                    <label for="buyer">Comprador</label>
                </div>
                <div class="options">
                    <input type="radio" name="seller" id="Vendedor" value="Vendedor">
                    <label for="seller">Vendedor</label>
                </div>
            </div>
            <div class="page-subtitles">
                <h3>Intereses</h3>
            </div>
            <div class="info-data-user">
                <div class="options">
                    <input type="checkbox" id="electric" name="interest" value="electric" />
                    <label for="electric">Electrodomésticos</label>
                </div>
                <div class="options">
                    <input type="checkbox" id="clothes" name="interest" value="clothes" />
                    <label for="clothes">Moda</label>
                </div>
                <div class="options">
                    <input type="checkbox" id="home" name="interest" value="home" />
                    <label for="home">Hogar</label>
                </div>
                <div class="options">
                    <input type="checkbox" id="games" name="interest" value="games" />
                    <label for="games">Juguetería</label>
                </div>
                <div class="options">
                    <input type="checkbox" id="health" name="interest" value="health" />
                    <label for="health">Vida sana</label>
                </div>
            </div>
            <button class="btn btn-login" type="submit">Enviar</button>
            <button class="btn btn-backward" type="button" onclick="location.href= '/';">Volver</button>
        </form>
    </main>
    <footer class="footer">
        <section class="footer-info">
            <article class="footer-text">
                <div class="f-image-margin">
                    <i class="fa-solid fa-credit-card fa-2xl blue-icon"></i>
                </div>
                <h5 class="footer-title">
                    Pagá con tarjeta o en efectivo
                </h5>
                <p class="slogan">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article class="footer-text">
                <div class="f-image-margin">
                    <i class="fa-solid fa-gift fa-2xl blue-icon"></i>
                </div>
                <h5 class="footer-title">
                    Envío gratis desde $ 2.500
                </h5>
                <p class="slogan">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="footer-text">
                <div class="f-image-margin">
                    <i class="fa-solid fa-user-shield fa-2xl blue-icon"></i>
                </div>
                <h5 class="footer-title">Seguridad, de principio a fin</h5>
                <p class="slogan">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                    puedas hacer, porque estás siempre protegid@.
                </p>
            </article>
        </section>
        <section>
            <p class="copy">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </footer>
</body>

</html>